<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lost Ideas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='components/navbar/navbar.css') }}">
</head>
<body>
    <nav>
        <div class="logo">
            <a href="/">💡 Lost Ideas</a>
        </div>
        <ul class="nav-links">
            <li><a href="{{ url_for('paging.main', page='explore') }}" class="{% if page == 'explore' %}active{% endif %}">Explore</a></li>
            <li><a href="#">Leaderboards</a></li>
            <li><a href="#">About</a></li>
        </ul>

        {% if current_user %}
            <div class="account">
                <!-- <a href="" id="settings">⚙️</a>
                <a href="" id="notification">🔔</a> -->
                <a href="/logout" id="btn-auth-logout">LOGOUT</a>     <!-- temporary -->
                <a id="profile" href="{{ url_for('paging.main', page='profile') }}">👤</a>
            </div>
        {% else %}
            <div class="auth">
                <a href="/auth" id="btn-auth-open" >Login</a>
            </div>
        {% endif %}
    </nav>

    <main id="content">

    </main>
    
    <script src="{{ url_for('static', filename='components/navbar/navbar.js') }}"></script>
</body>
</html>