<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lost Ideas</title>
    <link rel="stylesheet" href="/public/components/footer/footer.css">
</head>
<body>
    <footer>
        <div class="top">
            <h3>💡 Lost Ideas</h3>
            <p>A home for every idea that got left behind.</p>
        </div>
        <div class="divider">&nbsp;</div>
        <div class="bot">
            <p>© 2026 Lost Ideas</p>
        </div>
    </footer>
</body>
</html>