<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lost Ideas</title>
    <link rel="stylesheet" href="/public/styles/global.css" class="">
    <link rel="stylesheet" href="/public/components/navbar/navbar.css" class="">
</head>
<body>
    <nav>
        <div class="logo">
            <a href="/">💡 Lost Ideas</a>
        </div>
        <ul class="nav-links">
            <li><a href="#" onclick="loadPage('/public/pages/explore.html')">Explore</a></li>
            <li><a href="#" onclick="loadPage('/public/pages/about.html')">About</a></li>
        </ul>
        <div class="account">
            <!-- <button id="login-btn">Sign In</button> -->
            <button id="settings">⚙️</button>
            <button id="notification">🔔</button>
            <button id="profile">👤</button>
        </div>
    </nav>

    <main id="content">

    </main>
    
    <script src="/app.js"></script>
    
</body>
</html>