<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='components/profile/profile.css') }}">
</head>
<body>
    <section class="profile-container">
        <div class="profile-card">
            <h2 class="profile-avatar">{{ get_initials(current_user.username) }}</h2>
            <h2 class="profile-name">{{ current_user.username }}</h2>
            <p class="profile-bio"></p>
        </div>
        <div class="profile-stats">
            <div class="profile-stats-row">
                <h2 class="profile-stats-num" id="ideas-shared">{{ stats.ideas_shared }}</h2>
                <p class="stats-title">Ideas Shared</p>
            </div>
            <div class="profile-stats-row">
                <h2 class="profile-stats-num" id="ideas-adopted">{{ stats.ideas_adopted }}</h2>
                <p class="stats-title">Ideas Adopted</p>
            </div>
            <div class="profile-stats-row">
                <h2 class="profile-stats-num" id="ideas-Built">{{ stats.ideas_built }}</h2>
                <p class="stats-title">Ideas Built</p>
            </div>
            <!-- <div class="profile-stats-row">
                <h2 class="profile-stats-num" id="followers">1.2M</h2>
                <p class="stats-title">Followers</p>
            </div> -->
        </div>
        <div class="profile-achievements">
            <h2>Achievements</h2>
            <div class="achievements-container">
                <ul>
                    <li class="achievement">🏆Coming Soon!</li>
                </ul>
            </div>
        </div>
    </section>
    
</body>
</html>